@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=New+Rocker&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Inter', sans-serif;
    background-color: #000; /* opsional */
    cursor: none; /* jika pakai custom cursor */
  }

  h1, h2, h3 {
    font-family: 'New Rocker', cursive;
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #aaa,
      0 0 30px #666;
  }
}
